# -------------------------------
# Django / Python
# -------------------------------
*.log                  
*.pot                
*.pyc                 
__pycache__/        
db.sqlite3            
media/                
staticfiles/          

# -------------------------------
# فایل‌های محیط مجازی و وابستگی‌ها
# -------------------------------
.env                  
.venv                  
env/
venv/
ENV/
env.bak/
venv.bak/

# -------------------------------
# Tailwind / Node (اگر از npm استفاده می‌کنید)
# -------------------------------
node_modules/          
# اما فایل‌های زیر را نگه می‌داریم:
# package.json
# package-lock.json
# tailwind.config.js

# -------------------------------
# IDE و ابزارهای توسعه
# -------------------------------
.vscode/              
.idea/                 
*.swp              
*.swo

# -------------------------------
# سیستم‌عامل
# -------------------------------
.DS_Store          
Thumbs.db              

# -------------------------------
# فایل‌های حساس امنیتی
# -------------------------------
*.pem                
*.key                